.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-self: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.button {
  background: lightgreen;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;

  &:active {
    padding: 10px 36px;
  }
}
