.container {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  flex-direction: column;
  gap: 20px;
}

.textarea {
  background: lightblue;
  resize: none;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  width: 300px;
  height: 60px;
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  &:focus {
    outline: none;
  }
}

.createBtn {
  background: lightblue;
  width: max-content;
  font-size: 14px;
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid transparent;

  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 10px lightblue;
  }

  &:active {
    border: 2px solid black;
  }
}
