.modalWrapper {
  border-radius: 10px;
  transform: translateX(-50%);
  left: 50%;
  top: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 400px;
}

.container {
  position: relative;
  //   width: 400px;
  //   height: 400px;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  //   border: 2px solid green;
}
