.container {
  max-width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  flex-direction: column;
}

.list {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  gap: 20px;
}
